* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #f5f5f5;
}

header {
    background-color: rgba(167, 114, 252, 0.35);
    color: #fff;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 20px;
    background-color: #ddd;
    outline: none;
    margin-left: 10px;
    margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgba(153, 103, 234, 0.7);
    cursor: pointer;
    border-radius: 30%;
}

button {
    background-color: rgba(137, 93, 207, 0.7);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}

img {
    width: 16px;
    height: 16px;
    opacity: 0.25;
}

#result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.choice-name {
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(167, 114, 252, 0.784);
}

.choice-list {
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: small;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}